/* You can add global styles to this file, and also import other style files */
$mainColor : #0059BF;
$secondColor: #FFCE4E;
$textColor: white;


.pointer {
    cursor: pointer;
}

body {
    background-color: $mainColor;
    color: $textColor;
}

