$mainColor : #0059BF;
$secondColor: #FFCE4E;
$textColor: white;

*{
    box-sizing: border-box;
}
.pointer {
    cursor: pointer;
}
.active {
    border: 5px solid white;
    padding:0
}
.heading {
    background-color: #256ec1;
    padding: 10px 20px;
    border-radius: 20px;
}

.col-background{
    background-color: $mainColor;
    box-shadow: 1px 2px 5px rgba(18, 18, 18, 0.759);
    padding: 20px 10px;
    border-radius: 20px;
}

.goalTasks-background {
    background-color: #002147;
    border-radius: 20px;

}

.button {
    background-color: transparent;
    color: white;
    border:2px solid white;
    padding: 5px 10px;
    transition: all 0.3s ease;


    &:hover {
        background-color: white;
        color: $mainColor;
    }
}


.goals-item {
    .goal{
        background-color: #FFCE4E;
        border-radius: 15px;
        h3 {
            color:$textColor
        }
        p {
            color: $textColor;
        }

        .-progress {
            background-color: white;
            height: 20px;
            border-radius: 10px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width:25%;
                height: 20px;
            border-radius: 10px;

                background-color: $mainColor;
            }
        }
    }
}

.tasks-item{
    p {
        padding: 0;
        margin: 0;
    }
    font-size: 22px;
    .doneBox{
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        background-color: white;
    }

    .tasks {
        margin: 0;
        padding: 0;
        .taskHead{
            border: {
                top: 2px solid;
                right: 2px solid;
                left:2px solid;
                radius: 10px
            }
            position: relative;

            
            p {
                margin: 0;
                padding: 10px;
                text-align: center;
            }
        }

        .taskContent{
            .taskInput{
                background-color: #002147;
                padding: 2px 8px;
                border-radius: 20px;
                border: 2px solid white;
                
                .plus{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                input{
                    outline: none;
                    border: none;
                    width: 100%;
                    background-color: transparent;
                    color: white;
                    
                }
                input::-webkit-input-placeholder {
                    color: white;

                }

                button{
                    position: absolute;
                    right:12px;
                    top:5px;
                }
    
    
            }

            .task {
                border: {
                    bottom: 2px solid;
                    right: 2px solid;
                    left:2px solid;
                    radius: 10px
                }
                .onceTask:not(:last-child) {
                    border-bottom: 1px solid white;
                    border-spacing: 10px;
                }

                .arrow{
                    width: 40px;
                    height: 30px;
                }

            }
        
            
        }

    }
}


.addGoal {
    background-color: rgba(0, 0, 0, 0.41);
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;

    .item {
        background-color: $mainColor;
        padding: 60px 80px;
        border-radius: 20px;

        .exit {
            top:15px;
            right:25px;
        }
        .inner{
            background-color: $textColor;
            padding: 7px 15px;
            border-radius: 20px;
            width: 48%;

            label {
                color:$mainColor
            }

        }
    
        input{
            outline: none;
            border: none;
            width: 49%;
        }

        .colors {

            ul {
                list-style-type: none;
                display: inline;

                li{
                    display: inline-block;
                    
                }
            }
            .color1 {
                width: 40px;
                height:40px;
                background-color: #d19600;
            }
            .color2 {
                width: 40px;
                height:40px;
                background-color: #af0000;
            }
            .color3 {
                width: 40px;
                height:40px;
                background-color: #00522b;
            }
            .color4 {
                width: 40px;
                height:40px;
                background-color: #460066;
            }
        }
    }
    
        
    }

.addTask {
        background-color: rgba(0, 0, 0, 0.41);
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
    
        .item {
            background-color: $mainColor;
            padding: 60px 80px;
            border-radius: 20px;
    
            .exit {
                top:15px;
                right:25px;
            }
            .inner{
                background-color: $textColor;
                padding: 7px 15px;
                border-radius: 20px;
                width: 48%;
    
                label {
                    color:$mainColor
                }
    
            }
        
            input{
                outline: none;
                border: none;
                width: 49%;
            }
    
        }
        
        
        select {
            outline: none;
            width: 300px;
            padding: 7px 15px;
            text-align: center;
            font-weight: bold;
            border-radius: 15px;
            margin-inline: 10px;
            
            option{
                font-weight: bold;
            }
        }
        }


.today-item{

    .todayTasks{
        font-size: 28px;

        *{
            padding: 0;
            margin: 0;
        }
        input{
            width: 25px;
            height:25px;
            padding: 0;
            margin: 0;
        }
        label{
            padding: 0;
            margin: 0;
        }
    }
}