<div class="content px-md-5 p-sm-2 position-relative">
<app-habits></app-habits>

    <div class="row">
        <div class=" col-xl-4 col-md-6 col-sm-12">
            <div class="goals-item  col-background">
                <div class="text-center heading d-flex justify-content-between mb-3">
                    <h3>Goals</h3>
                    <button class="button" (click)="display()">add</button>
                </div>
                <div class="">
                    <div class="goal p-3 mb-2 position-relative" *ngFor="let x of allGoals; let i = index;" [attr.data-index]="i" [ngStyle]="{'background-color':x.color}">
                        <div class="goalHead d-flex justify-content-between flex-wrap">
                            <h3>{{x.goal}}</h3>
                            <button class="btn btn-outline-light" id='deleteGoal' (click)="deleteItem(i)" >Delete</button>
                        </div>
                        <div class="duration">
                            <p>{{x.fromDate}} <i class="fa-solid fa-arrow-right-long mx-2"></i>{{x.toDate}}</p>
                        </div>

                        <div class="progress bg-white">
                            <div class="progress-bar" role="progressbar"   [ngStyle]="{'width':percentage[i]+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            <p class="fw-bold text-black mx-4">{{percentage[i] | toNumber| number:'1.0-1'}}%</p>
                        </div>

                        <div *ngIf="percentage[i] >= 100;" class="goalDone p-3 d-flex flex-wrap">
                            <div class="d-flex justify-content-between w-100">
                                    <h3>{{x.goal}}</h3>
                                    <i class="fa-regular fa-circle-check"></i>
                            </div>
                            <div class="w-100">
                                <button class="btn btn-outline-light w-100" (click)="deleteItem(i);hideGoalDone(i)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class=" col-xl-4 col-md-6 col-sm-12 ">
            <div class="tasks-item  col-background">
                <div class="text-center heading d-flex justify-content-between mb-3">
                    <h3>Tasks</h3>
                </div>
                <div class="">
                    <div class="tasks  goalTasks-background px-2 py-1 mb-2" *ngFor="let x of allGoals; let i = index" [attr.data-index]="i" >
                        <div class="taskHead d-flex justify-content-center align-items-center flex-wrap mb-2"   [style.border-color]="x.color">
                            <div>
                            <p class="text-white">{{x.goal}}</p>
                            </div>
                            
                        </div>

                        <div class="taskContent mb-3  ">
                            <div class="taskInput  position-relative mb-2">
                                <input type="text" placeholder="Task" class="taskInputinner w-100 text-white">

                                <button class="btn btn-outline-light plus d-flex align-items-center justify-content-center" (click)="addTask(i)">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>

                            <div class="task" [style.border-color]="x.color">
                                    <div class="onceTask d-flex justify-content-between align-items-center p-2" *ngFor="let once of everyTasksGoal[i];let e = index"  [attr.data-index]="i">
                                       <div>
                                        <p>{{once}}</p>
                                       </div>
                                        <div class="d-flex ">
                                            <button class="btn btn-outline-light arrow d-flex align-items-center justify-content-center" (click)="todayAdd($event,i,e)"  [attr.data-index]="e">
                                                <i class="fa-solid fa-arrow-right-long"></i>
                                            </button>
                                            <button class="mx-1 btn btn-outline-light arrow d-flex align-items-center justify-content-center" (click)="deleteGoalTask(i,e)" [attr.data-index]="e">
                                                <i class="fa-solid fa-trash" (click)="deleteGoalTask(i,e)"></i>
                                            </button>
                                            
                                        </div>
                                    </div>

                            </div>

                            

                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class=" col-xl-4 col-md-6 col-sm-12">
            <div class="today-item  col-background">
                <div class="text-center heading mb-3">
                    <h3 class="text-center">Today</h3>
                </div>
                
                <div class="todayTasks">
                    <div class="taskInput  position-relative mb-2 ">
                        <input type="text" placeholder="Task" class="taskInputinner w-100 text-white" id="inputToday">

                        <button class="btn btn-outline-light plus d-flex align-items-center justify-content-center" (click)="addTodayTask()">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div  *ngFor="let task of todayTasks; let i = index" class="d-flex align-items-center justify-content-between">
                        <div>
                            <input type="checkbox" [id]="task" (click)="taskDone(i)" class="checkBox p-0 m-0">
                            <label [for]="task" class="mx-2 p-0 m-0">{{task}}</label>
                        </div>

                        <div>
                            <button class="mx-1 btn btn-outline-light arrow d-flex align-items-center justify-content-center" (click)="deleteTodayTask(i)" [attr.data-index]="i">
                                <i class="fa-solid fa-trash" (click)="deleteTodayTask(i)" [attr.data-index]="i"></i>
                            </button>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
    
    <form [formGroup]="goalDetails" (ngSubmit)="addGoal()" class="addGoal position-absolute d-flex justify-content-center align-items-start  w-sm-100 d-none">
        
        <div class="item text-center d-flex justify-content-center align-items-center flex-wrap position-relative">
            <div class="exit position-absolute" (click)="hide()" >
                <i class="fa-solid fa-xmark fa-2x pointer" (click)="hide()"></i>
            </div>
            <div class="inner w-100 mb-3">
                <input type="text" formControlName="goalName" placeholder="Your Goal" class="w-100" id="goal">
                <div *ngIf="goalDetails.get('goalName')?.errors && goalDetails.get('goalName')?.touched">
                    <p class="errors alert alert-danger" *ngIf="goalDetails.get('goalName')?.getError('required')">goalName Is required</p>
                </div>
            </div>
            <div class="inner me-2 mb-4 pe-2">
                <label for="fromDate" class=" pe-2">From</label>
                <input type="date" formControlName="fromDate" placeholder="Date" class="" id="fromDate">
                <div *ngIf="goalDetails.get('fromDate')?.errors && goalDetails.get('fromDate')?.touched">
                    <p class="errors alert alert-danger" *ngIf="goalDetails.get('fromDate')?.getError('required')">fromDate Is required</p>
                </div>
            </div>

            <div class="inner me-2 mb-4">
                <label for="toDate" class="pe-2">To</label>
                <input type="date" formControlName="toDate" placeholder="Date" class="" id="toDate">
                <div *ngIf="goalDetails.get('toDate')?.errors && goalDetails.get('toDate')?.touched">
                    <p class="errors alert alert-danger" *ngIf="goalDetails.get('toDate')?.getError('required')">toDate Is required</p>
                </div>
            </div>

            <div class="colors" >
                <ul>
                    <li class="color1 pointer mx-2" (click)="target($event)" ></li>
                    <li class="color2 pointer mx-2" (click)="target($event)"></li>
                    <li class="color3 pointer mx-2"(click)="target($event)"></li>
                    <li class="color4 pointer mx-2"(click)="target($event)"></li>
                </ul>
                        
            </div>


            <div class="add w-100 mt-5">
            <button class="button d-block" type="submit" [disabled]="goalDetails.invalid">add</button>
            </div>
        </div>
    </form>

    <app-done></app-done>
</div>
