@use 'classes' as *;
@use 'variables' as *;
@use 'overlays' as *;

* {
    border:none;
    outline: none;
    box-sizing: border-box;

}
#deleteGoal {
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
}



.button {
    background-color: transparent;
    color: white;
    border:2px solid white;
    padding: 5px 10px;
    transition: $transition;
    &:hover {
        background-color: white;
        color: $mainColor;
    }
}


.goals-item {
    .goal{
        border-radius: 15px;
        .-progress {
            height: 20px;
            border-radius: 10px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width:25%;
                height: 20px;
                border-radius: 10px;
                background-color: $mainColor;
            }
        }
        .goalDone{
            @extend %overlay;
            border-radius: 15px;
            background-color: #4BB543;
            i{
                font-size:50px;
            }
        }
    }
}

.tasks-item{
    p{
        padding: 0;
        margin: 0;
    }
    font-size: 22px;
    .tasks {
        .taskHead{
            border: {
                top: 2px solid;
                right: 2px solid;
                left:2px solid;
                radius: 10px
            }
            position: relative;
            p {
                margin: 0;
                padding: 10px;
                text-align: center;
            }
        }
        .taskContent{
            .taskInput{
                background-color: #002147;
                padding: 2px 8px;
                border-radius: 20px;
                border: 2px solid white;
                .plus{
                    width: 30px;
                    height: 30px;
                }
                input{
                    background-color: transparent;
                }
                input::-webkit-input-placeholder {
                    color: white;
                }
                button{
                    position: absolute;
                    right:12px;
                    top:5px;
                }
            }
            .task {
                border: {
                    bottom: 2px solid;
                    right: 2px solid;
                    left:2px solid;
                    radius: 10px
                }
                .onceTask:not(:last-child) {
                    border-bottom: 1px solid white;
                    border-spacing: 10px;
                }
                .arrow{
                    width: 40px;
                    height: 30px;
                }
            }
        }
    }
}

.today-item{
    .todayTasks{
        *{
            padding: 0;
            margin: 0;
        }
        input{
            width: 25px;
            height:25px;
        }
        label{
        font-size: 28px;
        }
        .arrow{
            width: 40px;
            height: 30px;
        }
        .taskInput{
            background-color: $mainColor;
            padding: 2px 8px;
            border-radius: 20px;
            border: 2px solid white;
            .plus{
                width: 20px;
                height: 20px;
            }
            input{
                background-color: transparent;
            }
            input::-webkit-input-placeholder {
                color: white;
            }
            button{
                position: absolute;
                right:12px;
                top:5px;
            }
        }
    }
}


@media screen and (max-width:992px){
    .col-md-6{
        margin-bottom: 20px;
    }
}